@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('image/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 450px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-active-seen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.modal-active-seen.active{
    transform: scale(0);
}
.modal-active-seen a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    width: 250px;
    height: 250px;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    box-shadow: 0 0 0 #FF0099;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    animation: zoom 1.3s infinite;
    text-align: center;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 80px;
    overflow: hidden;
    z-index: 1;
}
.wrapper h1{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    color: #fff;
}
.wrapper .box-time{
    padding: 0 20px;
    position: relative;
    display: flex;
    line-height: normal;
    width: 100%;
    justify-content: space-between;
}
.box-time .time{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 48, 48);
    border-radius: 50%;
    box-shadow: 0 0 20px #fff,
            0 0 40px #fff;
}
.box-time .time::before{
    position: absolute;
    content: '';
    width: 75px;
    height: 75px;
    border: 4px solid rgb(251, 255, 0);
    box-shadow: inset 0 0 10px #333;
    border-radius: 50%;
}
.box-time .time p{
    font-size: 35px;
    font-family: 'Caramel', cursive;
}
.box-time .time span{
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}

/* animation--------------------- */

section {
    position: fixed;
    width: 100%;
    height: 100%;
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.set:nth-child(1) div {
    width: 120px;
    height: 120px;
    background-size: 100%;
}

.set:nth-child(2) div {
    width: 240px;
    height: 240px;
    background-size: 100%;
}

.set3 div:nth-child(1) {
    width: 120px;
    height: 120px;
    background-size: 100%;
}

.set3 div {
    width: 100px;
    height: 100px;
    background-size: 100%;
}

.set div:nth-child(1) {
    left: 60%;
    animation: animate 8s linear infinite;
}

.set div:nth-child(2) {
    left: 20%;
    animation: animate 13s linear infinite;
}

.set div:nth-child(3) {
    left: 40%;
    animation: animate 18s linear infinite;
}

.set div:nth-child(4) {
    left: 0%;
    animation: animate 8s linear infinite;
}

.set div:nth-child(5) {
    left: 80%;
    animation: animate 11s linear infinite;
}

.set div:nth-child(6) {
    left: 15%;
    animation: animate 6s linear infinite;
}

.set div:nth-child(7) {
    left: 55%;
    animation: animate 7s linear infinite;
}

.set div:nth-child(8) {
    left: 90%;
    animation: animate 18s linear infinite;
}

.set div:nth-child(9) {
    left: 75%;
    animation: animate 13s linear infinite;
}

.set div:nth-child(10) {
    left: 35%;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        top: -10%;
        opacity: 0;
        transform: translateX(20px) rotate(0deg)
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg)
    }
    40% {
        transform: translateX(-20px) rotate(90deg)
    }
    60% {
        transform: translateX(20px) rotate(135deg)
    }
    80% {
        transform: translateX(-20px) rotate(180deg)
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg)
    }
}

/* .set2 {
    transform: rotateY(180deg);
    filter: blur(2px);
} */

.set3 {
    transform: scale(0.8) rotateX(180deg);
    filter: blur(2px);
}

@keyframes zoom {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent;
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 transparent;
    }
}
